
/*shared styles*/
.display-flex{
    display: flex;
}

/*navbar related styles*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-weight: 700;
  font-size: 3rem;
}
.nav-item{
  list-style: none;
  margin-right: 30px
 ;
}
 .nav-link{
  text-decoration: none;
  font-weight: 500;
 }
 .navbar,.banner{
  max-width: 1440px;
  margin: 0 auto;
 }
 .banner{
  justify-content: space-between;
 }
 .logo {
  display: grid;
  grid-template-columns:(7, 1fr);
  align-items: center;
  
 }
 .products-card{
  
  border:2px solid rgba(170, 170, 170, 1);
  gap:30px;
  
 }
 .card-container{
  display: grid;
  grid-template-columns: (3,1fr);
 }