
/*shared styles*/
.display-flex{
    display: flex;
}

/*navbar related styles*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-weight: 700;
  font-size: 3rem;
}
.nav-item{
  list-style: none;
  margin-right: 30px
 ;
}
 .nav-link{
  text-decoration: none;
  font-weight: 500;
 }
 .navbar,.banner{
  max-width: 1440px;
  margin: 0 auto;
 }
 .banner{
  justify-content: space-between;
 }
 /*.logo {
  display: grid;
  grid-template-columns:(7, 1fr);
  
  
 }*/
 body{
  align-items: center;
  margin-left: 100px;
 }
 .logo{
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  width: 1140px;
  height: 110px;
  margin: 0 auto;
 }
 .products-card{
  
  border:2px solid rgba(170, 170, 170, 1);
  gap:50px;
  padding:30px;
  width:300px ;
  height:400px ;
  border-radius:20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 15px 0 rgba(170, 170, 170, 1);
  
 }
 .products-cards-details{
  
  display: grid;
  grid-template-columns: repeat(3,1fr);
 }
 .logos{
  display:flex;
  align-items: center;
  justify-content: center;
 }